<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Feedback</title>
</head>
<body>
    <div class="navbar">
        <div class="navbarcontents">
            <img class="logo" src="static/images/rubenslogo.png" alt="rubens logo r&j Multiservices">
            <a href="/">Home</a>
            |
            <a href="/gallery">Gallery</a>
            |
            <a href="/jobs">Services</a>
            |
            <a href="/contact">Contact Us</a>
            |
            <a href="/faq">FAQ</a>
            |
            <a href="/sign_in">Sign In</a>
            |
            <a href="/register">Register</a>
            |
            <a href="/logout">logout</a>
        </div>
    </div>
</body>
</html>