<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Home</title>

</head>
<body>
        <div class="navbar">
            <div class="navbarcontents">
                <img class="logo" src="static/images/rubenslogo.png" alt="rubens logo r&j Multijobs">
                <a href="/gallery">Gallery</a>
                |
                <a href="/jobs">Services</a>
                |
                <a href="/contact">Contact Us</a>
                |
                <a href="/feedback">Feedback</a>
                |
                <a href="/faq">FAQ</a>
                |
                <a href="/sign_in">Sign In</a>
                |
                <a href="/register">Register</a>
                |
                <a href="/logout">logout</a>
            </div>
        </div>
        <div class="main">
            <div class="maincontent">
                    <h1>Recent Projects</h1>
                    <video src="static/videos/apartment_showing.mov" type="video/mov" controls muted onmouseover="play(this)" onmouseout="pause(this)"></video>
                    <h3>Description:</h3>
                    <p>dcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurndcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurnd<br>
                    csopierfjwiputvnsiudna;</p>
                    <img src="static/images/green_room.png" alt="green painted room">
                    <h3>Description:</h3>
                    <p>dcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurndcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurndcsopierfjwiputvnsiudna;</p>
                    <img src="static/images/living_room.png" alt="painted living room">
                    <h3>Description:</h3>
                    <p>dcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurndcsopierfjwiputvnsiudna;</p>
                    <img src="static/images/small_kitchen.png" alt="small kitchen redone">
                    <h3>Description:</h3>
                    <p>dcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurndcsopierfjwiputvnsiudna;</p>
                    <img src="static/images/bathroom.png" alt="remodeled bathroom">
                    <h3>Description:</h3>
                    <p>dcsopierfjwiputvnsiudna;ljcnidoiaudzncilxjndaloiurndcsopierfjwiputvnsiudna;</p>
            </div>
        </div>
    <script src="static/script.js"></script>
</body>
</html>